/*
    COVER IMG
*/

#main > section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13rem;
}

@media screen and (max-width: 990px) {
    #main > section:first-child {
        flex-direction: column;
        padding-top: 10rem;
    }
}


#main > section:first-child > .cover {
    width: 28rem;
    position: relative;
    z-index: -1;
}

@media screen and (min-width: 1840px) {
    #main > section:first-child > .cover {
        width: 58rem;
    }
}

@media screen and (max-width: 990px) {
    #main > section:first-child > .cover {
        display: flex;
        flex-direction: column-reverse;
        width: 50rem;
    }
}

@media screen and (max-width: 820px) {
    #main > section:first-child > .cover {
        width: 30rem;
    }
}

@media screen and (max-width: 460px) {
    #main > section:first-child > .cover {
        width: 90%;
    }
}

#main > section:first-child > .cover > div > p {
    position: absolute;
    bottom: 10px;
    left: -30px;
}

@media screen and (max-width: 820px) {
    #main > section:first-child > .cover > div > p {
        position: initial;
        padding-top: 20px;
    }
}

#main > section:first-child > .cover > div > p,
#main > section:first-child > .cover > div > p > span {
    font-size: 1.3rem;
    color: var(--white-color);
    font-style: italic;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

@media screen and (max-width: 820px) {
    #main > section:first-child > .cover > div > p,
    #main > section:first-child > .cover > div > p > span {
        font-size: 1.1rem;
        writing-mode: horizontal-tb;
        transform: rotate(0);
    }
}

@media screen and (max-width: 460px) {
    #main > section:first-child > .cover > div > p,
    #main > section:first-child > .cover > div > p > span {
        font-size: 0.9rem;
    }
}

#main > section:first-child > .cover > div > p > span {
    color: var(--green-color);
    font-weight: bold;
}

#main > section:first-child > .cover > img {
    width: 100%;
}

/*
    CONVER INFO
*/

#main > section:first-child > .cover-info {
    max-width: 30rem;
    margin-left: 3rem;
}

@media screen and (min-width: 1840px) {
    #main > section:first-child > .cover-info {
        max-width: 45rem;
    }
}

@media screen and (max-width: 990px) {
    #main > section:first-child > .cover-info {
        max-width: 54rem;
        padding-top: 2rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 820px) {
    #main > section:first-child > .cover-info {
        max-width: 30rem;
    }
}

@media screen and (max-width: 460px) {
    #main > section:first-child > .cover-info {
        width: 90%;
    }
}

#main > section:first-child > .cover-info > h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    font-weight: bold;
    color: var(--white-color);
    font-family: 'League Gothic', sans-serif;
    word-break: break-word;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white-color);
    -webkit-text-fill-color:transparent;
}

@media screen and (min-width: 1840px) {
    #main > section:first-child > .cover-info > h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 820px) {
    #main > section:first-child > .cover-info > h1 {
        font-size: 3.3rem;
        -webkit-text-fill-color:var(--white-color);
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: transparent;
    }
}

@media screen and (max-width: 460px) {
    #main > section:first-child > .cover-info > h1 {
        font-size: 2.3rem;
    }
}

#main > section:first-child > .cover-info > p {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    color: var(--white-color);
}
@media screen and (min-width: 1840px) {
    #main > section:first-child > .cover-info > p {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 820px) {
    #main > section:first-child > .cover-info > p {
        font-size: 1.2rem;
    }
}

#main > section:first-child > .cover-info > div {
    display: flex;
    column-gap: 10px;
    margin-top: 4rem;
}

@media screen and (max-width: 820px) {
    #main > section:first-child > .cover-info > div {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 350px) {
    #main > section:first-child > .cover-info > div {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
    }
}

#main > section:first-child > .cover-info > div > button {
    color: var(--white-color);
    background-color: var(--green-color);
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    padding: 0.8rem 3.1rem;
    border: 1px solid var(--green-strong-color);
    display: flex;
    cursor: pointer;
    transition: 300ms;
}

@media screen and (max-width: 820px) {
    #main > section:first-child > .cover-info > div > button {
        font-size: 1.2rem;
        padding: 0.8rem 2.1rem;
    }
}

#main > section:first-child > .cover-info > div > button:last-child {
    background-color: transparent;
    border: 1px solid var(--white-color);
}

#main > section:first-child > .cover-info > div > button > i {
    font-size: 2.1rem;
    padding-right: 6px;
}

@media screen and (max-width: 820px) {
    #main > section:first-child > .cover-info > div > button > i {
        font-size: 1.4rem;
    }
}

#main > section:first-child > .cover-info > div > button:hover {
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    color: black;
}

/*
    SECOND SECTION / THIRD SECTION (ONLY A FEW PARTS)
*/

#main > section:nth-child(2),
#main > section:nth-child(3),
#main > section:nth-child(4) {
    width: 64rem;
    margin: 0 auto;
}

@media screen and (min-width: 1840px) {
    #main > section:nth-child(2),
    #main > section:nth-child(3),
    #main > section:nth-child(4) {
        width: 110rem;
    }
}

@media screen and (max-width: 990px) {
    #main > section:nth-child(2),
    #main > section:nth-child(3),
    #main > section:nth-child(4) {
        width: 54rem;
    }
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(2),
    #main > section:nth-child(3),
    #main > section:nth-child(4) {
        width: 30rem;
    }
}

@media screen and (max-width: 460px) {
    #main > section:nth-child(2),
    #main > section:nth-child(3),
    #main > section:nth-child(4) {
        width: 90%;
    }
}

#main > section:nth-child(2) > h2,
#main > section:nth-child(3) > h2,
#main > section:nth-child(4) > h2 {
    color: var(--white-color);
    font-family: 'League Gothic', sans-serif;
    font-size: 5.5rem;
    text-transform: uppercase;
    padding: 7rem 0 0 0;
    letter-spacing: 5px;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(2) > h2,
    #main > section:nth-child(3) > h2,
    #main > section:nth-child(4) > h2 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 460px) {
    #main > section:nth-child(2) > h2,
    #main > section:nth-child(3) > h2,
    #main > section:nth-child(4) > h2 {
        font-size: 3rem;
    }
}

#main > section:nth-child(2) > div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

#main > section:nth-child(2) > div > .icon-second-part {
    border: 1px solid var(--white-color);
    padding: 1.5rem;
    position: relative;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(2) > div > .icon-second-part {
        padding: 1rem;
    }
}

#main > section:nth-child(2) > div > .icon-second-part > a {
    text-decoration: none;
    color: var(--white-color);
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: flex;
    position: relative;
    transition: 500ms;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(2) > div > .icon-second-part > a {
        font-size: 1.2rem;
    }
}

#main > section:nth-child(2) > div > .icon-second-part > .title {
    opacity: 0%;
    color: black;
    background-color: var(--white-color);
    position: absolute;
    font-size: 1.4rem;
    top: -24px;
    padding: 5px 10px;
    width: max-content;
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
    transition: 500ms;
    z-index: 3;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(2) > div > .icon-second-part > .title {
        font-size: 0.9rem;
    }
}

#main > section:nth-child(2) > div > .icon-second-part:first-child > .title {
    left: -25%;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(2) > div > .icon-second-part:first-child > .title {
        left: -18%;
    }
}

#main > section:nth-child(2) > div > .icon-second-part:nth-child(2) > .title {
    left: -55%;
}

#main > section:nth-child(2) > div > .icon-second-part:nth-child(3) > .title,
#main > section:nth-child(2) > div > .icon-second-part:nth-child(4) > .title {
    left: -60%;
}

#main > section:nth-child(2) > div > .icon-second-part:nth-child(5) > .title {
    left: -48%;
}
#main > section:nth-child(2) > div > .icon-second-part:nth-child(6) > .title {
    left: -45%;
}

#main > section:nth-child(2) > div > .icon-second-part > a:hover ~ .title {
    opacity: 100%;
}

#main > section:nth-child(2) > div > .icon-second-part > .title::after {
    content: "";
    background-color: var(--white-color);
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -7px;
    left: calc(50% - (15px / 2));
    z-index: -1;
    transform: rotate(45deg);
}

#main > section:nth-child(2) > div > .icon-second-part > a > i {
    color: var(--white-color);
    font-size: 1.8rem;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(2) > div > .icon-second-part > a > i {
        font-size: 1.3rem;
    }
}

/*
    THIRD SECTION
*/

#main > section:nth-child(3) > h2  {
    padding: 3rem  0 0 0;
}

#main > section:nth-child(3) > div {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0 0 0;
    row-gap: 30px;
    column-gap: 10px;
    align-items: stretch;
}

#main > section:nth-child(3) > div > .song {
    display: grid;
    grid-template-columns: 5% 5% 1fr 8% 5%;
    align-items: center;
    justify-items: start;
    justify-content: start;
    align-content: center;
    grid-gap: 5px;
}

@media screen and (min-width: 1840px) {
    #main > section:nth-child(3) > div > .song {
        grid-template-columns: 5% 5% 1fr 8% 5%;
    }
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(3) > div > .song {
        grid-template-columns: 5% 10% 1fr 12% 5%;
    }
}

@media screen and (max-width: 350px) {
    #main > section:nth-child(3) > div > .song {
        grid-template-columns: 5% 10% 1fr 14% 7%;
    }
}

#main > section:nth-child(3) > div > .song > .id {
    font-size: 1.4rem;
    color: var(--white-color);
    width: min-content;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(3) > div > .song > .id {
        font-size: 1.2rem;
    }
}

#main > section:nth-child(3) > div > .song > .button-play,
#main > section:nth-child(3) > div > .song > .button-share {
    background-color: transparent;
    border: 0;
}

#main > section:nth-child(3) > div > .song > .button-play > i,
#main > section:nth-child(3) > div > .song > .button-share > i {
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(3) > div > .song > .button-play > i,
    #main > section:nth-child(3) > div > .song > .button-share > i {
        font-size: 2rem;
    }
}

#main > section:nth-child(3) > div > .song > .titles {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    font-weight: bold;
}

#main > section:nth-child(3) > div > .song > .titles > span:first-child {
    font-size: 1.2rem;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(3) > div > .song > .titles > span:first-child {
        font-size: 0.9rem;
    }
    #main > section:nth-child(3) > div > .song > .titles > span:last-child {
        font-size: 0.7rem;
    }
}

#main > section:nth-child(3) > div > .song > .duration {
    color: var(--white-color);
    font-size: 1.2rem;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(3) > div > .song > .duration {
        font-size: 1rem;
    }
}

#main > section:nth-child(3) > div > .song > .button-share > i {
    font-size: 1.5rem;
}

/*
    FOURTH SECTION (SEARCH)
*/

#main > section:nth-child(4) > .form-search-artist {
    display: grid;
    grid-template-columns: 75% 1fr;
    column-gap: 20px;
    border-bottom: 1px solid var(--gray-color);
    padding: 3rem 0 1rem 0;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(4) > .form-search-artist {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
    }
}

#main > section:nth-child(4) > .form-search-artist > input {
    background-color: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    color: var(--white-color);
}

#main > section:nth-child(4) > .form-search-artist > input:focus {
    border-color: transparent;
    outline: none;
}

#main > section:nth-child(4) > .form-search-artist > button {
    width: 100%;
    background-color: transparent;
    border: transparent;
    transition: 300ms;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--white-color);
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
}

#main > section:nth-child(4) > .form-search-artist > button > .search-title {
    display: none;
}

@media screen and (max-width: 820px) {
    #main > section:nth-child(4) > .form-search-artist > button > .search-title {
        display: inline;
        margin-right: 0.5rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

#main > section:nth-child(4) > .form-search-artist > button > i {
    font-size: 1.5rem;
    color: var(--white-color);
    transition: 300ms;
}

#main > section:nth-child(4) > .form-search-artist > button:hover {
    background-color: var(--white-color);
    border-color: var(--white-color);
    color: black;
}

#main > section:nth-child(4) > .form-search-artist > button:hover > i {
    color: black;
}

/* SELECTION ARTISTS */

.artists-selection {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 2.5em;
    display: none;
    overflow: hidden;
}

.artists-selection::after {
    content: "";
    top: -110%;
    left: -50%;
    height: 300%;
    width: 300%;
    opacity: 0.9;
    position: fixed;
    background-image: url("../../assests/bg_static.webp");
    background-position: center;
    z-index: -2;
    animation: grain 400ms infinite;
}

.open-artists {
    display: block;
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-bottom-left both;
}

.close-artists {
    display: block;
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-out-top-right both;
}

.artists-selection > .container-titles-btn >  h1 {
    color: var(--white-color);
    font-family: 'League Gothic', sans-serif;
    font-size: 5.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}


@keyframes square-out-top-right {
    from {
      clip-path: inset(0 0 0 0);
    }
    to {
      clip-path: inset(0 0 100% 100%);
    }
  }

@keyframes square-in-bottom-left {
    from {
      clip-path: inset(0 0 100% 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
}

.artists-selection > .container-titles-btn {
    position: relative;
}

.artists-selection > .container-titles-btn > i {
    font-size: 2.5rem;
    color: var(--white-color);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.container-artists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: scroll;
}

.hidden-element {
    display: none !important;
}