/*
    COVER IMG
*/

#main > section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main > section:first-child > .cover {
    padding-top: 13rem;
    width: 28rem;
    position: relative;
}

#main > section:first-child > .cover > div > p {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 25%;
    left: -44%;
}

#main > section:first-child > .cover > div > p,
#main > section:first-child > .cover > div > p > span {
    font-size: 1.3rem;
    color: var(--white-color);
    font-style: italic;
}

#main > section:first-child > .cover > div > p > span {
    color: var(--green-color);
    font-weight: bold;
}

#main > section:first-child > .cover > img {
    width: 100%;
}

/*
    CONVER INFO
*/

#main > section:first-child > .cover-info {
    width: 30rem;
    margin-left: 3rem;
    padding-top: 10rem;
}

#main > section:first-child > .cover-info > h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    font-weight: bold;
    color: var(--white-color);
    font-family: 'League Gothic', sans-serif;
    word-break: break-word;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white-color);
    -webkit-text-fill-color:transparent;
}

#main > section:first-child > .cover-info > p {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    color: var(--white-color);
}

#main > section:first-child > .cover-info > div {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

#main > section:first-child > .cover-info > div > button {
    color: var(--white-color);
    background-color: var(--green-color);
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    padding: 0.8rem 3.1rem;
    border: 1px solid var(--green-strong-color);
    display: flex;
    cursor: pointer;
    transition: 300ms;
}

#main > section:first-child > .cover-info > div > button:last-child {
    background-color: transparent;
    border: 1px solid var(--white-color);
}

#main > section:first-child > .cover-info > div > button > i {
    font-size: 2.1rem;
    padding-right: 6px;
}

#main > section:first-child > .cover-info > div > button:hover {
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    color: black;
}

/*
    SECOND SECTION
*/

#main > section:nth-child(2) {
    width: 64rem;
    margin: 0 auto;
}

#main > section:nth-child(2) > h2 {
    color: var(--white-color);
    font-family: 'League Gothic', sans-serif;
    font-size: 5.5rem;
    text-transform: uppercase;
    padding: 7rem 0 0 0;
    letter-spacing: 5px;
}

#main > section:nth-child(2) > div {
    display: flex;
}

#main > section:nth-child(2) > div > .icon-second-part {
    border: 1px solid var(--white-color);
    padding: 1.5rem;
    margin-top: 2rem;
    position: relative;
}

#main > section:nth-child(2) > div > .icon-second-part > a {
    text-decoration: none;
    color: var(--white-color);
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: flex;
    position: relative;
    transition: 500ms;
}

#main > section:nth-child(2) > div > .icon-second-part > .title {
    opacity: 0%;
    color: black;
    background-color: var(--white-color);
    position: absolute;
    font-size: 1.4rem;
    top: -24px;
    padding: 5px 10px;
    width: max-content;
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
    transition: 500ms;
    z-index: 3;
}

#main > section:nth-child(2) > div > .icon-second-part:first-child > .title {
    left: -25%;
}

#main > section:nth-child(2) > div > .icon-second-part:nth-child(2) > .title {
    left: -55%;
}

#main > section:nth-child(2) > div > .icon-second-part:nth-child(3) > .title,
#main > section:nth-child(2) > div > .icon-second-part:nth-child(4) > .title {
    left: -60%;
}

#main > section:nth-child(2) > div > .icon-second-part:nth-child(5) > .title {
    left: -48%;
}
#main > section:nth-child(2) > div > .icon-second-part:nth-child(6) > .title {
    left: -45%;
}

#main > section:nth-child(2) > div > .icon-second-part > a:hover ~ .title {
    opacity: 100%;
}

#main > section:nth-child(2) > div > .icon-second-part > .title::after {
    content: "";
    background-color: var(--white-color);
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -7px;
    left: calc(50% - (15px / 2));
    z-index: -1;
    transform: rotate(45deg);
}

#main > section:nth-child(2) > div > .icon-second-part > a > i {
    color: var(--white-color);
    font-size: 1.8rem;
}


