@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat&display=swap');

:root {
  --white-color: #f1f1f1;
  --green-color: #50A584;
  --green-strong-color: #50A584;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
  position: relative;
  overflow-x: hidden;
}

body::after {
  content: "";
  top: -110%;
  left: -50%;
  height: 300%;
  width: 300%;
  opacity: 0.9;
  position: fixed;
  background-image: url("/src/assests/bg_static.webp");
  background-position: center;
  z-index: -2;
  animation: grain 400ms infinite;
}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, 5%)
  }

  30% {
    transform: translate(7%, -25%)
  }

  40% {
    transform: translate(-5%, 25%)
  }

  50% {
    transform: translate(-15%, 10%)
  }

  60% {
    transform: translate(15%, 0%)
  }

  70% {
    transform: translate(0%, 15%)
  }

  80% {
    transform: translate(3%, 35%)
  }

  90% {
    transform: translate(-10%, 10%)
  }
}